* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: url(Images/tibet-7157189_1920.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.main-container {
  width: 300px;
  height: 496px;
  z-index: 1;
  background-color: linear-gradient(to top, #00000026, #e1e1e126);
  backdrop-filter: blur(100px);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 3px 2px 50px -4px rgba(0, 0, 0, 0.75);
}

#input-city {
  color: white;
}

.input-container {
  position: relative;
  margin-bottom: 50px;
}

.city-input {
  width: 100%;
  padding: 10px 16px;
  border-radius: 50px;
  border: 3px solid transparent;
  background-color: rgba(243, 234, 234, 0.15);
  outline: none;
  font-weight: 400;
  transition: 0.3s ease-out border;
  padding-right: 45px;
}

.city-input:focus {
  border: 3px solid rgb(0, 0, 0, 0.15);
}

.city-input::placeholder {
  color: white;
}

.search-button {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  display: flex;
  border: none;
  cursor: pointer;
  color: white;
}
.weather-info {
  display: flex;
  flex-direction: column;
}

.location-date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.location {
  display: flex;
  align-items: center;
  gap: 6px;
}

h4 {
  font-weight: 500;
}

.current-date-text {
  font-size: 13px;
}
.weather-summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-temperature {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.state-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  color: rgb(211, 186, 186);
}

.weather-temperature-infos {
margin-top: -15px;


}
 
#temp {
  font-size: 50px;
  color: white;
  margin-bottom: -5px;
}

.weather-humidity-wind {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  border-bottom: 1px solid rgb(103, 103, 103);
  padding-bottom: 50px;
}

.weather-humility {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.weather-humidity-text {
  color: rgb(211, 186, 186);
}

.weather-wind {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.weather-wind-text {
  color: rgb(211, 186, 186);
}

.infos-container {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: rgb(128, 125, 125);
}

.image-container img {
 width: 70px;
 animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-6px);
  }
  100% {
      transform: translateY(0px);
  }
}