* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: url(Images/tibet-7157189_1920.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: center;
}
